body{

font-family:Arial, sans-serif;

background:linear-gradient(to right,#4facfe,#00f2fe);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.container{


background:white;

width:320px;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 20px gray;


}



h1{

font-size:30px;

}



input{


width:90%;

padding:12px;

font-size:16px;

border-radius:5px;

border:1px solid gray;


}



button{


margin-top:15px;

padding:12px 30px;

background:#007bff;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

font-size:16px;


}



button:hover{

background:#0056b3;

}



.weather{

margin-top:25px;

}



#icon{
    width:100px;
    height:100px;
    display:block;
    margin:20px auto;
}



.weather p{

font-size:18px;

}



@media(max-width:600px){


.container{

width:85%;

}


input{

width:80%;

}



button{

width:60%;

}


}
